html {
  font-family: Noto Sans, sans-serif;
}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

.nav a {
  text-decoration: none;
  color: #005e76;
  border-color: #8bc9d9;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: .1rem;
}

.nav a:hover {
  border-color: #005e76;
  color: #005e76;
}

.btn {
  border-color: #8bc9d9;
  border-width: .1rem;
  color: #005e76;
}

.btn:hover {
  color: #005e76;
  background-color: #8bc9d9;
  border-color: #005e76;
}

hr {
  display: block;
  border-color: #e2e2e2;
}
