html {
  font-family: Noto Sans, sans-serif;
}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

.nav a {
  text-decoration: none;
  color: #005e76;
  border-color: #0084a6;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: .1rem;
}

.btn {
  border-color: #8bc9d9;
  color: #005e76;
}

.btn:hover {
  color: #005e76;
  background-color: #8bc9d9;
  border-color: #005e76;
}
